$info-color: #1DC7EA;
$primary-color: #0062cc;



.footer .footer-menu {
  float: left;
}

.footer .copyright {
  float: right;
}

table.row-36 tbody td {
  padding: 7px;
}

.primary-text {
  color: $primary-color;
}

.info-text {
  color: $info-color;
}

.right-10 {
  margin-right: 10px;
}

.inp-error {
  border-color: red;
  background: #fff3f3;
  div {
    border-color: red;
    background: #fff3f3;
  }
}
.sidebar-wrapper {
  li {
    width: 97%;
  }
}

.btn-input {
  padding: 5px 7px;
  width: 100%;
  white-space: nowrap;
}

.img-preview {
  width: 64px;
  height: 64px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

.table-params {
  float: right;
  i {
    margin: 5px;
    &:hover {
      color: $primary-color;
    }
  }
}

.td-image-pre {
  padding: 2px !important;
  width: 68px;
}
.td-image-big {
  padding: 2px !important;
  width: 110px;
}
table {
  .sort-link {
    cursor: pointer;
    color: $primary-color;
    text-decoration: underline;
    font-weight: bold;
  }
  th {
    font-weight: bold !important;
  }
  .td-info {
    div {
      border-bottom: 1px solid #efefef;
      padding-left: 8px;
    }
    span {
      font-weight: bold;
    }
  }
  td {
    .img-big {
      width: 150px;
      height: 150px;
      -webkit-border-radius:4px;
    }
    .btn {
      margin-right: 10px;
    }
  }
}

label {
  font-weight: bold !important;
}
