$blue-text: #4990e2;

.wrapper-element {
  //width: 375px;
  width: 325px;
  height: 1060px;
  //background-color: #424652;
  //background-color: #fff;
  font-family: Arial;
  background: url('http://localhost:3000/images/fon3.png');
  position: relative;
}

.text-right {
  text-align: right;
}

.crow {
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-wrap {
  padding: 10px;
  padding-top: 15px;
  color: #fff;

  .main-wrap__header {
    display: flex;
    color: #fff;
    margin-bottom: 10px;
    .main-wrap__header__left {
      text-align: left;
      font-weight: bold;
      font-size: 18px;
    }
    .main-wrap__header__right {
      text-align: right;
      flex: 1;
      cursor: pointer;
      &:hover {
        color: $blue-text
      }
    }
  }


  //.main-wrap__toolbar:before {
  //
  //  content: '';
  //  height: 300px;
  //  width: 100%;
  //  border-radius: 10px;
  //  //background: inherit;
  //  background: #555864;
  //  opacity: 0.5;
  //
  //  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.3);
  //
  //  filter: blur(10px);
  //
  //  position: absolute;
  //
  //}



  //.main-wrap__toolbar:after {
  //  content: '';
  //  width: 300px;
  //  height: 400px;
  //  background: inherit;
  //  position: absolute;
  //  left: -25px;
  //  top: -25px;
  //  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.3);
  //  filter: blur(10px);
  //}

  .main-wrap__toolbar {
    background-color: rgba(218, 218, 219, 0.36);

    //height: 300px;
    border-radius: 10px;
    padding:10px;


    .slider-wrapper {
      padding-bottom: 10px;
      padding-top: 17px;

      .slider-wrapper__vals {
        display: flex;
        padding-top: 10px;
        .slider-wrapper__vals__left {

        }
        .slider-wrapper__vals__right {
          flex: 1;
          text-align: right;
        }
      }
    }

    .main-wrap__toolbar__head {
      display: flex;
      &__left {
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
      }
      &__right {
        font-size: 20px;
        flex: 1;
        text-align: right;

      }
    }
  }

  .add-params {
    text-align: center;
    .add-params__button {
      color: #ccc;
      display: inline-block;
      background: rgba(0, 0, 0, 0.62);

      padding: 5px 15px;
      margin-top: 15px;

      border-radius: 30px;

    }
  }
}


.show-button {
  text-align: center;
  button {
    width: 100%;
    border: 0px;
    padding: 8px 15px;
    border-radius: 5px;
    background: #4990e2;
    &:hover {
      background: rgb(79, 166, 255);
    }
  }
}


.c-btn-group {
  color: #fff;

  display: flex;
  .c-btn-group__item {
    flex:1;
    border: 1px solid #ccc;
    text-align: center;
    height: 40px;
    line-height: 36px;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      background: rgba(221, 221, 221, 0.51);
      color: #fff;
    }
  }
  .c-btn-group__item--active {
    background: #fff;
    color: $blue-text;
  }

  .c-btn-group__item--left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .c-btn-group__item--right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}


.noUi-horizontal {
  height: 6px !important;
}
.noUi-connect {
  background-color: $blue-text !important;
}

.noUi-horizontal .noUi-handle {
  width: 28px !important;
  height: 28px !important;
  left: 16px !important;
  top: -11px !important;
  border-radius: 100px;
}


.useful {
  background: rgba(170, 10, 8, 0.62);
  //height: 300px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  padding-top:20px;

  color: #fff;

  .useful__header {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .useful__item {
    margin-bottom: 20px;
    a {
      font-size: 18px;
      font-weight: 500;
      color: #fff;
    }
  }

}

.consult {
  background: rgba(0, 0, 0, 0.57);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 30px;
  padding-top:20px;
  .consult__header{
    color: #fff;
    font-size: 18px;
  }
  .consult__item {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 30px
  }

  .consult__sender {
    display: flex;
    .glyphicon {
      color: #ccc;
      line-height: 35px;
      font-size: 18px;
    }
    input {
      width: 100%;
      border: 0;
      font-size: 24px;
      background: rgba(0, 0, 0, 0.1);
      color: #fff;
    }
  }
}